@charset "utf-8";

/*
   Formato Pagina Home
   Nombre:Jose Quinde

*/


body {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
	min-width: 660px;
    
}

body > header {
    
    margin: 0;
	width: 100%;
    height: 100px;
	
}

/*Estilo Navegacion*/
body > nav {
    background:#eaedaa;
	float:center;
    list-style: none;
    text-align: center;
    margin:0px;
    line-height: 80px;
    
    
}  
/*Estilo  Articulos*/
body > article#marav {
	width: 51%;
	float: left;
	margin: 0 3% 0 3%;
}

body > article#marav img {
	float: center;
	width: 40%;
	margin: 0px ;
}
body > article#maravill{
	width: 100%;
	float: left;
	margin: 0 ;
}

body > article#maravill img {
	float: center;
	width: 50%;
	margin: 0px 0;
}

body > footer {
	width: 100%;
	clear: left;
}
/*Estilos Navegador*/
nav >  a:link, nav > a:visited {
    color: #2d2453;
    text-decoration: none;
   }
   nav  > a:hover, nav > a:active {
    color: rgb(189, 55, 32);
    text-decoration: underline;
   }
   .boton {
    border: 1px solid black; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #eaedaa; /*color botón*/
    color:#2d2453; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }
  