@charset "utf-8";

/*
   Formato Pagina Home
   Nombre:Jose Quinde

*/


body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
    
}

body > header {
    
    margin: 0;
	width: 100%;
    height: 100px;
	
}
img[src="Imagenes/logo.png"] {
    height: 100%;
    width: 100%;
    
    
 }
 

body > nav {
    background:#eaedaa;
	float:center;
    list-style: none;
    text-align: center;
    margin:0px;
    line-height: 80px;
    
    
}

body > article#marav {
	width: 51%;
	float: left;
	margin: 0 3% 0 3%;
}

body > article#marav img {
	float: center;
	width: 40%;
	margin: 0px ;
}
body > article#maravill{
	width: 100%;
	float: left;
	margin: 0 ;
}

body > article#maravill img {
	float: center;
	width: 50%;
	margin: 0px 0;
}
img[src="Imagenes/7maravillas.jpg"] {
    height: 50%;
    width: 50%;  
    float: right;
  }
  img[src="Imagenes/piramides.jpg"] {
    height: 50%;
    width: 50%;  
    float: right;
  }

body > footer {
	width: 100%;
	clear: left;
}
