@charset "utf-8";

/*
   Reglas para textos, y formato pagina
   Nombre:Jose Quinde

*/
.espacios{
    clear:both;
}
html {
    background-image: url(../Imagenes/fondo.jpg);
    background-size: contain;
   }
   body {  
    background-image: url(../Imagenes/fondo2.jpg);
    background-size: contain;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   }
  /* Estilo Titulos */
h1 {
    font-size: 2.2em;
   }
   h2 {
    font-size: 1.5em;
   }
 h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
   }
    h1 {
    color:#2d2453;
    background-color:#eaedaa;
   }
 
    h2 {
    color:#2d2453;
    background-color:#eaedaa;
   }
   
   /*Estilo Footer*/
   footer{
    background-color:#eaedaa;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 60px;
    color:#2d2453;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
   }